@import "../base/viables";
.navbar {
  background:(rgba(255,255,255,0.5));
  padding-left: 60px;
  a {
   color:$primary-black;
  }
}
.eco-logo {
  z-index:9999;
  position:absolute;
  margin-left:12px;
}
