@import "../base/viables";
.navbar {
  background:(rgba(255,24,44,0.5));
  padding-left: 60px;
  a {
   color:$primary-white;
  }
}
.eco-logo {
  z-index:9999;
  position:absolute;
  margin-left:12px;
}
