@import "viables";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('http://fonts.googleapis.com/css?family=Great+Vibes');

body {
  background-color:$body-color ;
}

section {
  margin-top:25px;
  margin-bottom:25px;
}


