@import "../base/viables";

.feature-bkgrd {
  padding: 8px 56px;
  text-align: center;
  h2{
    font-size:1.6rem;
  }
  p{
    text-align: justify;
    font-size: .9rem;
    padding-bottom: 32px;
  }
  img {
    padding: 19px 0;
  }
}
.hrHeadings {
  font-family: $font-Roboto;
  font-size: 25px;
  text-align: left;
  line-height: 25px;
  color: #0c8038;
}
